
dados/.DS_Store
dados/brutos/.DS_Store
dados/brutos/CusteioInvestimentoComercialIndustrialSemFiltros.csv
dados/brutos/malhafundiaria_imaflorav2021/pa_br_landtenure_v202105.gpkg
dados/brutos/malhafundiaria_imaflorav2021/pa_br_landtenure_v202105_metadata.txt
dados/brutos/qualidadepastagem_lapig/pasture_cvp_modis_col7_2020_Brazil_atlas_sirgas.tif
dados/brutos/termbr_rpd_cen1_cen2.xlsx
dados/processados/.DS_Store
dados/processados/br_indicador_infra_100m_albers.tif
dados/processados/BR_Mesorregioes_2022.tif
dados/processados/BR_Mesorregioes_2022.tif.aux.xml
dados/processados/BR_Mesorregioes_2022_albers_100m.tif
dados/processados/BR_Mesorregioes_2022_albers_100m.tif.aux.xml
dados/processados/csr_100m_albers.tif
dados/processados/landtenure_v202105_4674_imovel.tif
dados/processados/landtenure_v202105_albers_imovel.gpkg
dados/processados/landtenure_v202105_albers_imovel_100m.tif
dados/processados/mapeamento_meso_micro_muni.csv
dados/processados/mesorregioes_BR_albers_100m.tif
dados/processados/mesorregioes_BR_albers_100m.tif.aux.xml
dados/processados/pasture_cvp_modis_col7_2020_Brazil_albers_100m.tif
dados/processados/termbr_rpd_cen1_cen2.csv
dados/proj_espacial/.DS_Store
dados/proj_espacial/pastagens_degradadas_S1_2030.tif
dados/proj_espacial/pastagens_degradadas_S2_2030.tif
resultados_alocacaorpd/.DS_Store
resultados_alocacaorpd/dif_cen1_rdp.csv
resultados_alocacaorpd/dif_cen2_rdp.csv
resultados_alocacaorpd/dif_cen2_rdpilp.csv
resultados_alocacaorpd/dif_cen2_rdprest.csv
resultados_alocacaorpd/results_cen1_final_geom_4674.gpkg
resultados_alocacaorpd/results_cen1_final_geom_4674.gpkg-shm
resultados_alocacaorpd/results_cen1_final_geom_4674.gpkg-wal
resultados_alocacaorpd/results_cen1_final_geom_4674.tif
resultados_alocacaorpd/results_cen1_final_geom_albers_100m.tif
resultados_alocacaorpd/results_cen1_final_geom_albers_100m.tif.aux.xml
resultados_alocacaorpd/results_cen2_final_albers_100m.tif
resultados_alocacaorpd/results_cen2_final_geom_4674.tif
resultados_alocacaorpd/S1_2030_restaurado.tfw
resultados_alocacaorpd/S1_2030_restaurado.tif
resultados_alocacaorpd/S1_2030_restauradov2.tfw
resultados_alocacaorpd/S1_2030_restauradov2.tif
resultados_alocacaorpd/S2_2030_restaurado.tfw
resultados_alocacaorpd/S2_2030_restaurado.tif
resultados_alocacaorpd/S2_2030_restauradov2.tfw
resultados_alocacaorpd/S2_2030_restauradov2.tif
